<div class="container">
    <h1>Serena Sees Her Footprints on the Moon</h1>
    <h2>By Sean Reed</h2>
    <div class="book-image">
        <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
          <%= image_tag "cover.jpg", class: "img-responsive center-block" %>
        </div>
        <div class="container">
            <p class="center-block"><em>Serena Sees Her Footprints on the Moon</em> is about a young girl who imagines a fun trip to the Moon, where she plays with some of the objects left
          behind up there by the Apollo astronauts.
          </p>
        </div>
    </div>
</div>