<div class="container moon-home">


  <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Serena Sees Her Footprints on the Moon</h2>
            <h3>By Sean Reed and Sam Beck</h3>
        </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                    <%= image_tag "cover.jpg", class: "img-relative" %>
                </div>

            <div class="col-md-6 col-lg-6">
                  <p><em>Serena Sees Her Footprints on the Moon</em> shows a girl who imagines a fun trip to the Moon, where she plays with some of the objects left behind up there by the Apollo astronauts.
                </p>
              <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p>Softcover, ages 3-7</p>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <%= link_to "Learn More!", "https://www.etsy.com/shop/littlestembooks", class: "btn-learn-more", target: "_blank" %>
                  </div>
    </div>
    </div>
  </div>

</div>