<!-- Testimonials Section -->
<div id="testimonials-section" class="text-center">
  <div class="container test">
    <div class="section-title wow fadeInDown" id="tell-me-more-section">
    <h2 id="tell-me-more-section">Tell Me More About Your New Book</h2>
          <div class="container">
            <p><h3>
              <span><em>Serena Sees Her Footprints on the Moon</em></span> is about a young girl who imagines a fun trip to the Moon, where she plays with some of the objects left
              behind up there by the Apollo astronauts.
            </h3></p>

          </div>
      <hr>
      <h2>Praise for "Serena"</h2>
      <div class="container">
      <p><h3>We read the book as family and we loved it.<h3></p>
      <p><h3>Your book made a real impression on my 3 (almost 4) year old daughter.</h3></p>
      <p><h3>The next morning she said 'Daddy, did you know there are footprints on the moon?' Good work! - Robert M.</h3></p>
      </div>
      <hr>
      <div class="container">
      <p><h3>Such a lovely book.  Pure poetry.  The narration is at once elegiac and triumphant.  I love the confidence Serena exudes.</h3></p>
      <p><h3>Readers will be spurred to do more research into the history of the Moon landings after reading “Serena”! - Christine R.</h3></p>
      </div>
      <hr>

      <div class="container">
      <p><h3>I think this is a great story for younger girls. I like how it not only inspires girls to reach for the things they didn’t know possible, but also tells them a lot bit about what the moon is like. </h3></p>
      <p><h3>This is definitely a great way to get get girls interested in STEM fields from a young age. - Alli. B.</h3></p>
      <hr>
      </div>

      <div class="clearfix"></div>
    </div>