<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   <title>littleSTEM Books</title>
  <meta name="description" content="">
  <meta name="author" content=""> -->
  <title>littleSTEM Books</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script async src="https://www.trycelery.com/js/celery.js"></script>
</head>

<body>

  <%= yield %>

</body>
</html>
